# Virtual environment
venv/
.venv/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Environment files
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage / test
.coverage
htmlcov/

# Docker
postgres_data/

# Alembic (future)
alembic/versions/*.pyc

# React
frontend/node_modules/
frontend/build/